.background {
    display: flex;
    background: url("admin_background.png");
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    background-position-y: 10pt;
}

.main_container {
    margin-top: 17vh;
}

.user_reg_element{
    margin-top: 3%;
}

.user_reg_button {
    font-size: 10pt;
    margin-top: 8%;
    color: white;
    background: #4F5352;
    padding: .4em 1.5em; /* отступ от текста */
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.user_reg_button :active { background: #626665; } /* при нажатии */

.user_reg_header{
    color: dimgrey;
    background: white;
    height: calc(22pt + 1vmin);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    text-align: center;
    font-size: calc(10pt + 0.7vmin);
    border-radius: 2pt;
    margin-bottom: 5%;
}

.user_list_header{
    color: dimgrey;
    background: white;
    width: 190pt;
    height: calc(22pt + 1vmin);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    text-align: center;
    font-size: calc(10pt + 0.7vmin);
    border-radius: 2pt;
}

.right_column_header_wrapper{
    width: 250pt;
    height: calc(22pt + 1vmin);
    margin-bottom: 2.5%;
}

.to_criterions_page_btn_wrapper{
    margin-top: -27pt;
    margin-left: 200pt;
}

.to_criterions_page_btn_wrapper button{
    color: #fff;
    font-weight: lighter;
    font-style: italic;
    text-decoration: none;
    user-select: none;
    background: #4F5352;
    padding: .7em 1.5em;
    outline: none;
    border-radius: 15pt;
    border: 0;
}

.to_criterions_page_btn_wrapper button:active{
  background: #626665;
}


.user_list_block{
    overflow: auto;
    height: 68vh;
}

