.App {
  text-align: center;
}

.App-header {
  background-color: rgb(55,59,58);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.App-header_text {
  color: whitesmoke;
  font-family: "Lucida Calligraphy", "Arial Black", serif;
  font-size: calc(22px + 2vmin);
  font-weight: bold;
  margin-left: 14pt;
  margin-top: 3pt;
}
