.main_wrapper{
    display: grid;
    grid-template-columns: 2fr 7fr;
    grid-column-gap: 10pt;
}

.left_column_wrapper{
    overflow: auto;
    border-right-style: solid;
    height: calc(22vh + 22vw);
    border-right-width: 1.5pt;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}
.left_column_wrapper::-webkit-scrollbar { width: 0; }


.position_element{
    margin-bottom: 10pt;
    color: black;
    font-size: calc(7pt + 0.5vw);
    width: 95%;
    cursor: pointer;
}
.position_element:active{
    color: #4F5352;
}
.position_element:hover{
    font-weight: bold;
}


.criterions_editor_header{
    color: black;
    border-style: solid;
    border-width: 1pt;
    border-color: #b6b7b8;
    height: calc(10pt + 2.5vmin);
    box-shadow: 0 1.5pt 2pt rgba(0, 0, 0, .2);
    padding: 5pt;
    text-align: center;
    font-family: "Segoe UI","Arial",sans-serif;
    font-weight: lighter;
    font-size: calc(9pt + 0.5vw);
}

.criterion_element_wrapper{
    display: grid;
    grid-template-columns: 14fr 1fr;
    margin-bottom: 10pt;

}
.criterion_name{
    display: grid;
    grid-template-columns: 16fr 1fr;
    font-size: calc(4pt + 1.6vmin);
    font-family: "Segoe UI","Arial",sans-serif;
    font-weight: normal;
    color: #373B3A;
    border-color: #707070;
    border-style: solid;
    border-width: 1pt;
    padding: 4pt;
    box-shadow: 0 1.5pt 2pt rgba(0, 0, 0, .2);
}

.delete_crit_icon{
    cursor: pointer;
}

.delete_crit_icon:active{
    color: red;
}

.criterions_list_wrapper{
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    height: calc(2pt + 23vmax);
}
.criterions_list_wrapper::-webkit-scrollbar { width: 0; }

.input_weight{
    text-align: center;
}
.input_weight:disabled{
    background-color: white;
    border: 0.5pt solid grey;
}

.criterion_element_help_header{
    margin-top: 10pt;
    display: grid;
    grid-template-columns: 12fr 1fr;
    font-size: calc(8pt + 0.4vmin);
    margin-bottom: 3pt;
    font-weight: revert;
}


.add_crit_element_wrapper{
    margin-top: 10pt;
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    grid-column-gap: 10pt;
    padding: 4pt;
    box-shadow: 0 1.5pt 2pt rgba(0, 0, 0, .2);
}

.criterion_name_input_field{
    margin-left: 2pt;
    font-size: calc(9pt + 0.2vw);
    font-family: "Segoe UI","Arial",sans-serif;
    font-weight: normal;
    padding: 2pt;
}

.add_crit_icon{
    display: block;
    margin-bottom: auto;
    margin-top: auto;
    font-size: calc(16pt + 0.5vw)!important;
}

.add_crit_icon:active{
    color: #1172c4;
}